h1 {
  color: white;
  padding-left: 20px;
}

body,html {
  color: white;
  margin: 0px;
  padding: 0px;
  font-size: 25px;
}

a {
  color: blue;
}
#retour {
  float: right;
  padding-right: 30px;
}
#haut {
  padding-left: 40px;
}


html {
    background-color: rgb(39, 39, 39);
  }
a:hover{
  color: white;
}
  
